.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1117;
  padding: 16px 24px;
  border-bottom: 1px solid #1f2937;
}

.fitbud-logo {
  height: 40px;
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}


.dashboard-nav {
  display: flex;
  gap: 20px;
}

.nav-btn {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 1rem;
}

.nav-btn:hover {
  color: white;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bell {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
